











@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  /* --primaryColor: #6C63FF; */
  --primaryColor: #5B3E96;
  /* --secondaryColor:#ffcd68; */
  /* --secondaryColor:#F5B400; */
  --secondaryColor:#FCA311;
  --bgColor: #f9fbff;
  --card-bg:#E5E5E5;
  --primary-txt-clr:#000000;
  --secondary-txt-clr: rgba(0,0,0,.7);
  --primary-font: Poppins;
  --secondary-font: Inter;

  --font-weight-large:700;
  --font-weight-medium:600;
  --font-weight-normal:500;

}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 2rem;
  max-width: 1200px;
  font-size: 1rem;
  margin-inline:auto;
  /* background: linear-gradient(120deg, #e0e0e0, #ffffff); */
  font-family: var(--secondary-font), sans-serif;
  background-color: rgba(255,255,255.7);
}

body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

li,button,a,span{
  cursor: pointer;
}

h1,
h2,
h3,h4,h5,h6,a ,label{
  font-family: var(--primary-font), sans-serif;
}

p,
span,
li,small ,textarea{
  font-family: var(--secondary-font), sans-serif;
}
p,span,small{
  font-weight: var(--font-weight-normal);
}

span{
  color: red
}


img{
  width: 100%;
  height: 100%;
}

.none{
  display: none;
}
.opacity{
  opacity: 0;
}

.logo{
  /* background: linear-gradient(135deg, #FCA311 0%, #FFD43B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--secondaryColor);
}

.hero-title{
  font-weight: 700;
  font-size: 3rem;
}
.section-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.sub-title{
  font-weight: 600;
  font-size: 1.5rem;
}

.navlinks{
  font-size: 1.1rem;
  font-weight: 600;
}

.small-txt{
  color: rgba(0,0,0,.7);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: var(--primary-font);
  letter-spacing: .6px;
}

.btn{
  padding: 8px 2rem;
  border: 2px solid;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
}

.primaryBtn{
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: white;
  
}

.primaryBtn:hover{
  background-color: transparent;
  color: var(--primaryColor);
}
.secondaryBtn:hover{
  background-color: var(--secondaryColor);
  color: white;
}

.secondaryBtn{
  background-color: transparent;
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
}

.section{
  margin-block: 3rem;
}
.section-title{
  text-align: center;
  margin-block: 1rem;
}

.secondary-text{
  width:100%;
  color: rgba(0,0,0,.7);
  font-size: 1rem;
  
}

.margin-btn{
  margin: 1rem 0;
}

.icon{
  display: inline-block;
  width: 40px;
  height: auto;
}

.arrrow{
  width:20px;
  height: auto;
}

.company-name  {
  /* background: linear-gradient(90deg, #14213D 0%, #FCA311 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--secondaryColor);
}

.about-tags{
  margin: 0 .5rem;
  padding: 8px 2rem;
  font-weight: 600;
  border-radius: 2rem;
  color: var(--primaryColor);
  border: 2px solid transparent;
}
.about-tags:hover{
  border: 2px solid var(--secondaryColor);
}

.active{
  border: 2px solid var(--secondaryColor);
}

.centerAlign{
  text-align: center;
}