header {
    position: sticky;
    top: 2rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 3rem;
    background-color: rgba(255,255,255,0.5);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem 0;
    border-radius: 1rem;
    z-index: 999;
    transition: widthAnime 5s linear;
}

@keyframes widthAnime{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.mobile-nav .close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.nav-menu li:hover {
    color: var(--secondaryColor);
}
.mobile-nav li:hover {
    color: var(--secondaryColor);
}

.header-icon {
    width: 30px;
    display: inline-block;
    /* height: auto; */
}


/* --------- Media Query for mobile --------- */

@media (max-width:768px) {
    .nav-menu {
        display: none;
    }

}

@media (min-width:768px){
    .mobile-nav{
        margin-right: 1.5rem;
        width: 50%;
    }
}

/* --------- Media Query for laptop --------- */
@media (min-width:1024px) {
    .hanberger-menus{
        display: none;
    }
}

.hero-section {
    margin: 2rem 0;
    width: 100%;
    min-height: 80vh;
    height: auto;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
}



.hero-1{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-1 * {
    margin-bottom: 1rem;
}

.small-txt {
    border: 2px solid var(--secondaryColor);
    padding: .15rem 1rem;
    border-radius: 1rem;
}

.hero-1 h1 {
    margin-top: 1rem;
}

.hero-1 p {
    margin-bottom: 2rem;
}

.hero-2 {
    display: flex;
    gap: 1rem;
}

.hero-ctn {
    width: 100%;
    max-width: 250px;
    height: 300px;
    border-radius: .5rem;
    overflow: hidden;
}

@media (max-width:768px) {
    .hero-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero-1{
        align-items: center;
    }
    .hero-1 h1{
        text-align: center;
    }
}

.ctn02 {
    margin-top: 3rem;
}

.trust-section-ctn{
    max-width: 1000px;
    width: 100%;
}

.trust-section-ctn h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.trust-section {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, .4)
        /* color: var(--secondary-txt-clr); */
}
@media (max-width:767px) {
    .trust-section{
        flex-direction: column;
        gap: 2rem;
    }
}
.achievement-details-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-section-ctn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.ctn-1 {
    color: var(--primary-txt-clr);
    padding: 1rem 2rem;
    width: 300px;
    
}

.partner-section {
    width: 100%;
    height: 100px;
    position: relative;
  animation: scroll 20s linear infinite;
  overflow: hidden;
display: flex;
    align-items: center;
    justify-content: center;
mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0),
        );
}

@keyframes scrollLeft{
    from{
        left: 100%;
    }
    to{
        left: -400px;
    }
}

.item {
    position: absolute;
    left: calc(200px * 6);
    width: 200px;
    height: 50px;
    animation-name: scrollLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* margin-right: 1rem; */
    
    color: rgba(0, 0, 0, .7);
}


.item1 {
    animation-delay: calc((20s / 6) * (6 - 1) * -1);
}

.item2 {
    animation-delay: calc((20s / 6) * (6 - 2) * -1);
}

.item3 {
    animation-delay: calc((20s / 6) * (6 - 3) * -1);
}

.item4 {
    animation-delay: calc((20s / 6) * (6 - 4) * -1);
}

.item5 {
    animation-delay: calc((20s / 6) * (6 - 5) * -1);
}

.item6 {
    animation-delay: calc((20s / 6) * (6 - 6) * -1);
}

@media (max-width:767px) {
    .partner-section-ctn{
        flex-direction: column;
    }
    .partner-section-ctn h4{
        text-align: center;
            font-size: 1.1rem;
            font-weight: 600;
    }
}

.new-updates {
    text-align: center;
}


.update-card-ctn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 2rem;
    margin-block: 3rem;
    padding: 0rem 0;
}

.update-card {
    margin: auto;
    background-color: white;
    width: 99%;
    height: 90%;
    padding: 2rem 1rem;
    border-radius: 1rem;
    transition: all .3s linear;
    font-size: 1rem;
    /* color: var(--primaryColor); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.update-card p {
    color: var(--primaryColor);
}

.update-card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-10px);
    color: rgba(0, 0, 0, .8);
}




.card-icon {
    width: 30px;
    height: 30px;
}


small {
    color: rgba(0, 0, 0, .6);
}

.update-card-container {
    background-color: white;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    padding: 1rem 0;
}


.border {
    width: 120%;
    height: 100px;
    margin: auto;
    background-color: var(--primaryColor);
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.update-card-container:hover .border {
    background-color: var(--secondaryColor);
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.process-section {
    text-align: center;
}


.process-card-ctn{
    width: 100%;

}

.process-card{
    text-align: left;
    padding: 2rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-block: 2rem;
    
}


.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.card-left-top{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.circle-icon{
    width: 70px;
    height: 70px;
    background: linear-gradient(135deg, #0b2345 0%, #2a6dbe 40%, #fe943c 80%, #aa4703 100%);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    /* background: linear-gradient(145deg, #0b2345, #2a6dbe, #fe943c); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-ctn{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: 1rem; */
}

.card-left-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-left-bottom p{
    line-height: 1.5rem;
}

.right{
    padding: 1rem;
    background-color: var(--card-bg);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 300px;
}

.right img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 1s ease;
    transform: scale(1);
    display: block;
}
.process-card:hover .right img {
    transform: scale(1.05);
}

.process-card-ctrl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ctrl-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.scroll-arrow{
    padding: 10px;
    background-color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-arrow .black{
    display: none;
}
.scroll-arrow .white {
    display: inline-block;
}

.scroll-arrow:hover{
    background-color: white;
}

.scroll-arrow:hover .white{
    display: none;
}
.scroll-arrow:hover .black{
    display: inline-block;
}


.about-us-ctn{
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.img-ctn{
    width: 500px;
}
.about-us-ctn img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.about-ctn{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.about-ctn .company-name{
    font-size: 2rem;
}
.about-ctn .secondary-text{
    line-height: 1.5rem
}

.about-tag-ctn{
    text-align: center;
}

.about-us-card-ctn{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.about-us-card{
    width: 100%;
    /* max-width: 230px; */
    /* height: 200px; */
    text-align: center;
    padding: 1.5rem;
    background: linear-gradient(135deg, var(--primaryColor), var(--secondaryColor));
    color: var(--primary-txt-clr);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.about-us-card:hover  .admin-card-img img{
    transform: scale(1.1);
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px; */
}

.admin-card-img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    
}

.admin-card-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: all 0.4s linear;
    transform: scale(1.03);
}

.arrow-icon{
    margin-bottom: .5rem;
    width: 30px; 
    position: relative;
}
.arrow-icon img{
    display: inline-block;
    width: 100%;
    height: auto;
    position: absolute;
    left: -.05rem;
    bottom: -1.3rem;
    animation: arrowAnimation 2s linear infinite;
}


@keyframes arrowAnimation{
    20%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-.5rem);
    }
    80%{
        transform: translateY(0);
    }
}

.card-text{
    position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background: linear-gradient(135deg, var(--primaryColor), var(--secondaryColor));
        color: rgba(255,255,255,.6);
        font-size: 1.1rem;
        padding: 1rem;
        opacity: 0;
        transition: all .5s linear;
        border-radius: 1rem;
}

.card-text{
    text-align: left;
    word-spacing: 5px;
    line-height: 20px;
}

.coreDetails-card{
    position: relative;
    overflow: hidden;
}
.coreDetails-card:hover .card-text {
    bottom: -20%;
    opacity: 1;
    transform: scale(1);
}

.test-profile{
    border: 2px solid white;
    padding: 1.5rem 2.5rem;
    border-radius: 50%;
}

.star-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.star{
    width: 20px;
    height: auto;
}

.card-text-testimonial a{
    margin-top: 2rem;
}